:root{
    --bgDark:#1D1D1B;
    --bgIce:#EDF2F7;
    --bgPlaceHolder:#505153;
    --PlaceHloderText:rgba(170,170,170,1);
    --bgLoginBTN: #B48556 0% 0% no-repeat padding-box;
    --LightGrayText:#868686;
    --brown:#B48556;

}