/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/



@media (min-width: 481px) and (max-width: 767px) {


    #Welcome > div > #Logo > .Block:nth-child(1){
        text-align:         center;
    }
    #Welcome > div > #Logo > .Block:nth-child(1) > img{
        width:              calc(100% - 40%);
    }
    #Welcome > div > #Logo > .Block:nth-child(2){
        text-align:         center;
        margin-top:         2rem;
    }
    #Welcome > div > #Logo > .Block:nth-child(2) > span{
        white-space:        nowrap;
        --web-animation:    fadein 0.3s ease-out;
        cursor:             pointer;
        text-align:         center;
        font-family:        Hero New;
        font-style:         normal;
        font-weight:        lighter;
        font-size:          12px;
        color:              rgba(255,255,255,1);
        letter-spacing:     0.25px;
    }
    .zodiacLogo{
        width:              100%;
        height:              20%;
        text-align:         center;
        padding-top:        43px;
        background:         transparent;
    }
    .zodiacLogo > img{
        margin: 0 auto;
        padding-top:           2rem;
    }
    .Registration{
        width:              100%;
        height:             auto;
        text-align:         center;
    }
    .Registration > form{
        width:              80%;
        text-align:         center;
    }


    .Registration > form .TextBox > input{
        width:              100%;
        height:             40px;
        text-align:         center;
        margin-top:         1rem;
        border:             none;
        background:         #EDF2F7 0% 0% no-repeat padding-box;
        border-radius:      5px;
        opacity:            1;
        white-space:        nowrap;
        letter-spacing:     0.22px;
        font-family:        Hero New;
        font-style:         normal;
        font-weight:        normal;
        font-size:          12px;


    }
    .Registration > form .TextBox > img{
        position:          absolute;
        left:              5px;
        top:               1.7rem;
        vertical-align:    middle;
        width:             16px;
        height:            16px;
    }


    #RegisterNextBtn0,
    #SignUpBtn,
    #RegistrationWithKey{
        width:             100%;
        height:            56px;
        margin-top:        1rem;
        background:        var(--bgLoginBTN);
        border:            none;
        box-shadow:        1px 1px 3px #0000002E;
        border-radius:     5px;
        opacity:           1;
        text-align:        center;
        font:              normal normal medium  Hero New;
        letter-spacing:    0.43px;
        color:             #FFFFFF;
        text-transform:    uppercase;
    }

    .Registration.Centered > form .Block.Tall.Vertically{
        padding-top:        2rem;
    }
    .Registration.Centered > form .Block.Tall.Vertically span{
        white-space:        nowrap;
        --web-animation:    fadein 0.3s ease-out;
        cursor:             pointer;
        line-height:        23px;
        margin-top:         -5.5px;
        text-align:         center;
        font-family:        Hero New;
        font-style:         normal;
        font-weight:        normal;
        font-size:          12px;
        color:              rgba(134,134,134,1);
        letter-spacing:     0.19px;
    }
    .Registration.Centered > form .Block.Terms.Centered{
        position:            absolute;
        bottom:              8rem;
        left:                0;
        right:               0;
        width:               95%;
    }
    .Registration.Centered > form .Block.Terms.Centered >.Block> span{
        line-height:        17px;
        margin-top:         -4.5px;
        text-align:         left;
        font-family:        Hero New;
        font-style:         normal;
        font-weight:        normal;
        font-size:          12px;
        color:              rgba(134,134,134,1);
        letter-spacing:     0.19px;
    }


    /*SLIDER NAVIGATION*/
    #slideNavigation{
        width:              100%;
        bottom:             1rem;
    }
    #slideNavigation>*{
        margin-left:         4rem;
    }
    #NavigationNext{
        background-color:     transparent;
        white-space:          nowrap;
        --web-animation:      fadein 0.3s ease-out;
        cursor:               pointer;
        text-align:           center;
        font-family:          Hero New;
        font-style:           normal;
        font-weight:          normal;
        font-size:            14px;
        color:                rgba(255,255,255,1);
        letter-spacing:       0.31px;
        text-transform:       uppercase;

    }
    #whitePlaceHolder{
        width:                163px;
        height:               163px;
        background-color:     #FFFFFF;
        border-radius:        50%;
        background-image:     url("../IMG/userSelectAvatarCircleMobile.png");
        background-position:  center;
        background-repeat:    no-repeat;
    }
    #whitePlaceHolderTitle,
    #ActivationTitle{
        white-space:          nowrap;
        line-height:          23px;
        text-align:           center;
        font-family:          Hero New;
        font-style:           normal;
        font-weight:          lighter;
        font-size:            12px;
        color:                rgba(255,255,255,1);
        letter-spacing:       0.19px;
        margin-top:           2rem;
    }
    .Block.Plans{
        margin-top:           6rem;
    }
    .Block.Plan{
        width: 32%;
        margin-top:           2rem;
        margin-left:         .5rem;
        border-radius:         5px;
        height:                45px;
        filter:                drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.18));
    }
    .Block.Plan:nth-child(1){
        background:            linear-gradient(to right, #c4c4c4, #58554c);
    }
    .Block.Plan:nth-child(2){
        background:             linear-gradient(to right, #efa96d, #743f1f);
    }
    .Block.Plan:nth-child(3){
        background:             linear-gradient(to right, #c85bf0, #4c018d);
    }

    .Block.Plan>.PlanContent>.Block{
        padding-top: .5rem;
        padding-right: .4rem;

    }
    .Block.Plan>.PlanContent>.Block>span{
        display: block;
        white-space: nowrap;
        text-align: right;
        font-family: Hero New;
        font-style: normal;
        font-weight: lighter;
        color: rgba(255,255,255,1);
        letter-spacing: 0.19px;
        text-transform: uppercase;
    }

    .Block.Plan>.PlanContent>.Block>span:nth-child(2){
        height: 5px;
        font-size: 8px;
    }
    #ProfileContianer{
        width:                  100%;
        height:                 auto;
    }

    .UserWallpaper{
        width:                  100%;
        height:                 350px;
    }
    #WallpaperMenuPanel{
        width:                  100%;
        height:                 133px;
    }
    .ProfileAvatar{
        width:                  103px;
        height:                 103px;
        background:             #FFFFFF;
        border-radius:          50%;
        bottom: 2.5rem;
        margin:0 auto;
    }

}

@media (min-width: 320px) and (max-width: 480px) {

    #Welcome > div > #Logo > .Block:nth-child(1){
        text-align:         center;
    }
    #Welcome > div > #Logo > .Block:nth-child(1) > img{
        width:              calc(100% - 40%);
    }
    #Welcome > div > #Logo > .Block:nth-child(2){
        text-align:         center;
        margin-top:         2rem;
    }
    #Welcome > div > #Logo > .Block:nth-child(2) > span{
        white-space:        nowrap;
        --web-animation:    fadein 0.3s ease-out;
        cursor:             pointer;
        text-align:         center;
        font-family:        Hero New;
        font-style:         normal;
        font-weight:        lighter;
        font-size:          12px;
        color:              rgba(255,255,255,1);
        letter-spacing:     0.25px;
    }
    .zodiacLogo{
        width:              100%;
        height:              20%;
        text-align:         center;
        padding-top:        43px;
        background:         transparent;
    }
    .zodiacLogo > img{
        margin: 0 auto;
        padding-top:           2rem;
    }
    .Registration{
        width:              100%;
        height:             auto;
        text-align:         center;
    }
    .Registration > form{
        width:              80%;
        text-align:         center;
    }


    .Registration > form .TextBox > input{
        width:              100%;
        height:             40px;
        text-align:         center;
        margin-top:         1rem;
        border:             none;
        background:         #EDF2F7 0% 0% no-repeat padding-box;
        border-radius:      5px;
        opacity:            1;
        white-space:        nowrap;
        letter-spacing:     0.22px;
        font-family:        Hero New;
        font-style:         normal;
        font-weight:        normal;
        font-size:          12px;


    }
    .Registration > form .TextBox > img{
        position:          absolute;
        left:              5px;
        top:               1.7rem;
        vertical-align:    middle;
        width:             16px;
        height:            16px;
    }


    .Registration > form #RegisterNextBtn0,
    #SignUpBtn,
    #RegistrationWithKey{
        width:             100%;
        height:            56px;
        margin-top:        1rem;
        background:        var(--bgLoginBTN);
        border:            none;
        box-shadow:        1px 1px 3px #0000002E;
        border-radius:     5px;
        opacity:           1;
        text-align:        center;
        font:              normal normal medium  Hero New;
        letter-spacing:    0.43px;
        color:             #FFFFFF;
        text-transform:    uppercase;
    }

    .Registration.Centered > form .Block.Tall.Vertically{
        padding-top:        2rem;
    }
    .Registration.Centered > form .Block.Tall.Vertically span{
        white-space:        nowrap;
        --web-animation:    fadein 0.3s ease-out;
        cursor:             pointer;
        line-height:        23px;
        margin-top:         -5.5px;
        text-align:         center;
        font-family:        Hero New;
        font-style:         normal;
        font-weight:        normal;
        font-size:          12px;
        color:              rgba(134,134,134,1);
        letter-spacing:     0.19px;
    }
    .Registration.Centered > form .Block.Terms.Centered{
        position:            absolute;
        bottom:              8rem;
        left:                0;
        right:               0;
        width:               95%;
    }
    .Registration.Centered > form .Block.Terms.Centered >.Block> span{
        line-height:        17px;
        margin-top:         -4.5px;
        text-align:         left;
        font-family:        Hero New;
        font-style:         normal;
        font-weight:        normal;
        font-size:          12px;
        color:              rgba(134,134,134,1);
        letter-spacing:     0.19px;
    }


    /*SLIDER NAVIGATION*/
    #slideNavigation{
        width:              100%;
        bottom:             1rem;
    }
    #slideNavigation>*{
        margin-left:         4rem;
    }
    #NavigationNext{
        background-color:     transparent;
        white-space:          nowrap;
        --web-animation:      fadein 0.3s ease-out;
        cursor:               pointer;
        text-align:           center;
        font-family:          Hero New;
        font-style:           normal;
        font-weight:          normal;
        font-size:            14px;
        color:                rgba(255,255,255,1);
        letter-spacing:       0.31px;
        text-transform:       uppercase;

    }
    #whitePlaceHolder{
        width:                163px;
        height:               163px;
        background-color:     #FFFFFF;
        border-radius:        50%;
        background-image:     url("../IMG/userSelectAvatarCircleMobile.png");
        background-position:  center;
        background-repeat:    no-repeat;
    }
    #whitePlaceHolder >#avatarBrowser{
        display: none;
    }
    #whitePlaceHolderTitle,
    #ActivationTitle{
        white-space:          nowrap;
        line-height:          23px;
        text-align:           center;
        font-family:          Hero New;
        font-style:           normal;
        font-weight:          lighter;
        font-size:            12px;
        color:                rgba(255,255,255,1);
        letter-spacing:       0.19px;
        margin-top:           2rem;
    }
    .Block.Plans{
        margin-top:           6rem;
    }
    .Block.Plan{
        width: 32%;
        margin-top:           2rem;
        margin-left:         .5rem;
        border-radius:         5px;
        height:                45px;
        filter:                drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.18));
        cursor:                 pointer;
    }
    .Block.Plan:nth-child(1){
        background:            linear-gradient(to right, #c4c4c4, #58554c);
    }
    .Block.Plan:nth-child(1):hover{
        background:            linear-gradient(to right, #c4c4c4, #58592c);
    }
    .Block.Plan:nth-child(2){
        background:             linear-gradient(to right, #efa96d, #743f1f);
    }
    .Block.Plan:nth-child(3){
        background:             linear-gradient(to right, #c85bf0, #4c018d);
    }

    .Block.Plan>.PlanContent>.Block{
        padding-top:            .5rem;
        padding-right:          .4rem;

    }
    .Block.Plan>.PlanContent>.Block>span{
        display:                block;
        white-space:            nowrap;
        text-align:             right;
        font-family:            Hero New;
        font-style:             normal;
        font-weight:            lighter;
        color:                  rgba(255,255,255,1);
        letter-spacing:         0.19px;
        text-transform:         uppercase;
    }

    .Block.Plan>.PlanContent>.Block>span:nth-child(2){
        height:                 5px;
        font-size:              8px;
    }
    .Block.FastPayments{
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        display: none;
    }

    #ProfileContianer{
        width:                  100%;
        height:                 auto;
    }

    .UserWallpaper{
        width:                  100%;
        height:                 350px;
    }
    #WallpaperMenuPanel{
        width:                  100%;
        height:                 133px;
        position:               relative;
    }
    #TopMenu{
        display: block;
        z-index: 999;
        height: 35px;
    }
    #MenuLogo{
        position: absolute;
        left: 23px;
        top: 21px;
    }
    #MenuLogo>img{
        width: 70px;
        height: 16px;
        opacity: 1;
    }
    #ProfileMenu{
        position: absolute;
        right: 23px;
        top: 21px;
    }
    #ProfileMenu>button{
        text-align: center;
        margin-left: 2rem;
        width: 20px;
        height: 20px;
        border:none;
        background-color: transparent;
    }


    .ProfileAvatar{
        width:                  103px;
        height:                 103px;
        background:             #FFFFFF;
        border-radius:          50%;
        bottom: 2.5rem;
        margin:0 auto;
    }


    #FinderSearch{
        width: 95%;
        height: 35px;
        margin: 0 auto;
        margin-top: 55px;
        display: block;
    }
    #FinderSearch>#UserFinderForm{
        width: 95%;
        height: 100%;
        position: relative;
        background: #EFEFEF;
        border-radius: 10px;

    }
    #UserFinderForm>#searchIcon{
        width: 23px;
        height: 23px;
        background-image: url("../IMG/searchTopIconMobile.png");
        position: absolute;
        left: 2%;
        top: .5rem;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: transparent;
    }
    #UserFinderForm > input{
        width: 80%;
        height: 23px;
        margin-left: 10%;
        margin-top: .3rem;
        background: #EFEFEF;
        font-family: Hero New;
        font-style: normal;
        font-weight: lighter;
        font-size: 11px;
        color: rgba(121,121,121,1);
        letter-spacing: 0.25px;
        background-color: transparent;
    }

    #UserFinderForm>#filterIcon{
        width: 23px;
        height: 23px;
        background-image: url("../IMG/filterIconMobile.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        right: 2%;
        top: .5rem;
        background-color: transparent;
    }
    #FilterContainer{
        padding-top:.5rem;
        background: #EFEFEF;
        width: 100%;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        display: none;
    }
    #FilterContainer>.Block{
        width: 80%;

    }

    .CheckStack{
        list-style: none;
    }
    .CheckStack > li{
        width: 100%;
        display: block;
        white-space: nowrap;
        position: relative;
    }
    .CheckStack > li > span{
        font-family: Hero New;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        color: rgba(0,0,0,1);
        padding-left: .3rem;
        position: absolute;
        top: 13px;

    }
    .CheckStack> li> input[type="checkbox"]{
        width: 22px;
        height: 21px;
        -moz-appearance:none;
        -webkit-appearance:none;
        -o-appearance:none;
        outline: none;
        content: none;
        position: relative;
        cursor: pointer;
        margin-top: .5rem;
    }
    /* checkbox checked */
    input[type="checkbox"]:checked:before {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        color: #FFFFFF;
        content:"✔";
        font-size: 18px;
        text-align: center;
    }
    #FoundedOwnUsers{
        width: 95%;
        height: auto;
        margin-top: 5%;
    }
    #FoundedOwnUsers > .UserBlock{
        width: 100%;
        height: auto;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid rgba(216,216,216,1);
    }
    #FoundedOwnUsers > .UserBlock > a >.FoundUserAvatar{
        width: 50px;
        height: 50px;
    }
    #FoundedOwnUsers > .UserBlock > .FoundUserInfo{
        margin-top: 1rem;
        margin-left: .5rem;
    }
    #FoundedOwnUsers > .UserBlock > .FoundUserInfo > .FoundUserName{
        margin-left: 1rem;
        font-family: Hero New;
        font-style: normal;
        font-weight: lighter;
        font-size: 10px;
        color: rgba(0,0,0,1);
        letter-spacing: 0.25px;
    }


    #AddNewModal{
        width: 100%;
        height: 100vh;
        position: fixed;
        z-index: 1;
        background-color: var(--bgDark);

    }
    #AddNewModal>.Block{
        width: 80%;
    }
    #AddNewModal>.Block > #AddNewModalLogo{
        position: absolute;
        top: 25px;
        left:0;
        right: 0;
        width: 100%;
    }

    #AddNewUsers>.TextBox > input{
        width:              100%;
        height:             40px;
        text-align:         center;
        margin-top:         1rem;
        border:             none;
        background:         #EDF2F7 0% 0% no-repeat padding-box;
        border-radius:      5px;
        opacity:            1;
        white-space:        nowrap;
        letter-spacing:     0.22px;
        font-family:        Hero New;
        font-style:         normal;
        font-weight:        normal;
        font-size:          12px;


    }
    #AddNewUsers>.TextBox > img{
        position:          absolute;
        left:              10px;
        top:               1.7rem;
        vertical-align:    middle;
        width:             16px;
        height:            16px;
    }
    #AddNewModal>.Block > #slideNavigation{
        width:              100%;
        bottom:             1rem;

    }
    .AddNewUsers>#slider_4{
        display: none;
    }
    /*.ProgressBlock{*/
    /*    width: 70%;*/
    /*}*/
    /*.ProgressBlock > .Title{*/
    /*    text-align: right;*/
    /*    font-family: Hero New;*/
    /*    letter-spacing: 0px;*/
    /*    color: #000000;*/
    /*    opacity: 1;*/
    /*}*/
    /*.ActionColor{*/
    /*    background:             red;*/
    /*    width:                  100%;*/
    /*    height:                 5px;*/
    /*    vertical-align:         middle;*/
    /*    margin-left:            .5rem;*/
    /*    margin-right:           .5rem;*/
    /*    border-radius:          15px;*/
    /*}*/



}